<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start Nav Bar -->
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <%= render "shared/portfolio_nav" %>
      </div>
    </div>

    <!-- End Nav Bar -->

    <!-- Start Jumbotron -->
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">My Portfolio</h1>
        <p class="lead text-muted">These are the apps I have built. Click each one for more info.</p>
      </div>
    </section>
   <!-- End Jumbotron -->

    <%= yield %>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p><%= @copyright %></p>
      </div>
    </footer>

    <%= source_helper("application") %>

  </body>
</html>
